## column transformer

In [215]:
import numpy as np
import pandas as pd

In [216]:
df=pd.read_csv('covid_toy.csv')

In [217]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [218]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [219]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [220]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [221]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [222]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid'],axis=1),df['has_covid'],test_size=0.2)

In [223]:
X_train.head()

    age  gender  fever   cough       city
60   24  Female  102.0  Strong  Bangalore
25   23    Male    NaN    Mild     Mumbai
81   65    Male   99.0    Mild      Delhi
66   51    Male  104.0    Mild    Kolkata
51   11  Female  100.0  Strong    Kolkata

In [224]:
X_train.shape

(80, 5)

In [225]:
X_train.isnull().sum()

age       0
gender    0
fever     8
cough     0
city      0
dtype: int64

In [226]:
si=SimpleImputer()
X_train_fever=si.fit_transform(X_train[['fever']])

In [227]:
X_test_fever=si.fit_transform(X_test[['fever']])

In [228]:
X_train_fever.shape

(80, 1)

In [229]:
X_test_fever.shape

(20, 1)

In [230]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])

In [231]:
X_train_cough=oe.fit_transform(X_train[['cough']])

In [232]:
X_test_cough=oe.fit_transform(X_test[['cough']])

In [233]:
X_train_cough

array([[1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.]])

In [234]:
X_train_cough.shape

(80, 1)

In [235]:
X_test_cough.shape

(20, 1)

In [236]:
ohe=OneHotEncoder(drop='first')

In [237]:
X_train_gender_city=ohe.fit_transform(X_train[['gender','city']]).toarray()

In [238]:
X_test_gender_city=ohe.fit_transform(X_test[['gender','city']]).toarray()

In [239]:
X_train_gender_city

array([[0., 0., 0., 0.],
       [1., 0., 0., 1.],
       [1., 1., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.]])

In [240]:
X_train_gender_city.shape

(80, 4)

In [241]:
X_test_gender_city.shape

(20, 4)

In [242]:
X_train_age=X_train.drop(columns=['gender','fever','cough','city'])

In [243]:
X_test_age=X_test.drop(columns=['gender','fever','cough','city'])

In [244]:
X_train_age.shape

(80, 1)

In [245]:
X_train_transformed=np.concatenate((X_train_age,X_train_fever, X_train_cough, X_train_gender_city),axis=1)

In [246]:
X_train_transformed.shape

(80, 7)

In [247]:
X_test_transformed=np.concatenate((X_test_age,X_test_fever,X_test_cough, X_test_gender_city),axis=1)

In [248]:
X_test_transformed.shape

(20, 7)

## Column Transformer

In [249]:
from sklearn.compose import ColumnTransformer

In [255]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']), 
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
], remainder='passthrough')

In [257]:
transformer.fit_transform(X_train).shape

(80, 7)