### KNN Imputer

In [58]:
import pandas as pd

In [74]:
df=pd.read_csv('train.csv',usecols=['Age','Pclass','Survived']    )

In [75]:
df.head()

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0

In [76]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
dtype: float64

In [77]:
from sklearn.model_selection  import train_test_split 
X_train, X_test , y_train, y_test =train_test_split(df.drop('Survived',axis=1),df['Survived'],test_size=0.2,random_state=42 )

In [78]:
X_train.head()

     Pclass   Age
331       1  45.5
733       2  23.0
382       3  32.0
704       3  26.0
813       3   6.0

In [79]:
from sklearn.impute import KNNImputer

In [101]:
knn=KNNImputer(n_neighbors=2)

In [102]:
x_train_trf=knn.fit_transform(X_train)
X_test_trf=knn.transform(X_test)

In [103]:
from sklearn.linear_model import LogisticRegression

In [104]:
clf=LogisticRegression()
clf.fit(X_train_trf,y_train)
y_preds=clf.predict(X_test_trf)

c:\Users\sanga\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [105]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_preds)

0.553072625698324

### Comparions

In [106]:
from sklearn.impute import SimpleImputer

In [107]:
si=SimpleImputer()
X_train_trf_si=si.fit_transform(X_train)
X_test_trf_si=si.transform(X_test)

In [108]:
clf1=LogisticRegression()
clf1.fit(X_train_trf_si,y_train)
y_preds1=clf1.predict(X_test_trf_si)
accuracy_score(y_test,y_preds1)

0.7597765363128491