## Binning and Binarization

In [44]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score

In [45]:
df=pd.read_csv('tested.csv',usecols=['Survived','Age','Fare'])

In [46]:
df.head()

   Survived   Age     Fare
0         0  34.5   7.8292
1         1  47.0   7.0000
2         0  62.0   9.6875
3         0  27.0   8.6625
4         1  22.0  12.2875

In [47]:
df.dropna(inplace=True)

In [48]:
df.sample(5)

     Survived   Age      Fare
368         1  45.0   59.4000
314         1  55.0  135.6333
258         1  19.0   13.0000
99          0  33.0    8.0500
234         0  39.0   71.2833

In [49]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [50]:
X_train, X_test, y_train, y_test= train_test_split(df.drop(columns=('Survived'),axis=1),df[['Survived']],test_size=0.2, random_state=42)

In [51]:
X_train.head()

       Age     Fare
281   0.75  13.7750
96   76.00  78.8500
341  32.00   7.5792
18   27.00   7.9250
26   22.00  61.9792

In [52]:
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.582089552238806

## After the binning using kBinsdiscretizer

In [55]:
trf=ColumnTransformer([
    ('trf_age', KBinsDiscretizer(n_bins=15, encode='ordinal', strategy='kmeans'),[0]),
    ('trf_fare', KBinsDiscretizer(n_bins=15, encode='ordinal', strategy='kmeans'),[1])
],remainder='passthrough')

In [58]:
X_train_transformed=trf.fit_transform(X_train)
X_test_transformed=trf.transform(X_test)
clf1=DecisionTreeClassifier()
clf1.fit(X_train_transformed,y_train)
y_pred_transformed=clf1.predict(X_test_transformed)
accuracy_score(y_test, y_pred_transformed)

0.5970149253731343